.region-header {
  display: grid;
  padding: 20px 0 22px;
  grid-template-rows: auto 65px 16px;
}
.region-header .block {
  width: auto;
  margin: 0;
}
#block-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}
#block-logo p {
  margin: 0;
}
#block-sitename {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  line-height: 1;
  font-family: IstokWeb, sans-serif;
  font-weight: bold;
  font-size: 54px;
  color: rgba(34, 34, 34, 255);
  margin-left: 60px;
}
#block-sitename p {
  margin: 0;
}
#block-sitename b {
  color: rgba(181, 20, 29, 255);
}
#block-sitesubname {
  grid-row: 2;
  grid-column: 2;
  line-height: 1;
  align-self: start;
  font-family: IstokWeb, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  color: rgba(181, 20, 29, 255);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: calc(50% - 96px);
}
#block-headerlist {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 9;
  grid-column-end: 12;
  align-self: end;
  line-height: 2;
}
#block-headerlist ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
#block-headerlist ul li {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgba(18, 18, 18, 255);
}
#block-headerlist ul li img {
  margin-right: 12px;
}
#block-headerphonenumber {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("../../images/header-phone.png") calc(100% - 70px) top no-repeat;
  height: 84px;
  width: 100%;
}
#block-headerphonenumber .field--name-body p {
  text-align: end;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: rgba(45, 96, 117, 255);
  line-height: 1;
}
#block-headerphonenumber .field--name-body strong {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 37px;
  vertical-align: middle;
}